modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "curl", "freetype", "gdb", "glibcLocales", "gmp", "grpc", "lcms2", "libarchive", "libev", "libffi", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "ncurses", "openjpeg", "openssh_gssapi", "openssl", "pkg-config", "rustc", "sqlite", "tcl", "tk", "udev", "unrar", "xcodebuild", "zlib"]

[workflows]
runButton = "Start K2Panel"

[[workflows.workflow]]
name = "Start K2Panel"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 runserver.py"

[deployment]
run = ["python3", "runserver.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 7800
